@model PagedList.IPagedList<ProjectClientServer.Models.DanhMucCongNhanThucHienKhoan>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Danh sách danh mục thực hiện khoán";
}

<h2>Danh sách danh mục thực hiện khoán</h2>

<p>
    @Html.ActionLink("Thêm mới", "Create", "DanhMucCongNhanThucHienKhoanController", new { @class = "btn btn-primary" })
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.SoLuong)*@
            Số lượng
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LaKhoanChung)*@
            Là khoán chung
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LaKhoanChung)
            </td>
            <td>
                <a href="~/DanhMucCongNhanThucHienKhoan/Edit/@item.MaDanhMucCNTHK"> Chỉnh sửa |</a>
                <a href="~/DanhMucCongNhanThucHienKhoan/Details/@item.MaDanhMucCNTHK"> Chi tiết |</a>
                <a href="~/DanhMucCongNhanThucHienKhoan/Delete/@item.MaDanhMucCNTHK"> Xóa</a>

                @*@Html.ActionLink("Edit", "Edit", new { id = item.MaDanhMucCNTHK }) |
                    @Html.ActionLink("Details", "Details", new { id = item.MaDanhMucCNTHK }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.MaDanhMucCNTHK })*@
            </td>
        </tr>
    }

</table>
@*Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(@Model, page => Url.Action("Index",
    new { page }))*@