@model PagedList.IPagedList<ProjectClientServer.Models.CongNhan>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Thông tin công nhân";
}

<h2>Thông tin công nhân</h2>

<p>
    @*@Html.ActionLink("Thêm mới", "Create")*@
    @Html.ActionLink("Thêm mới", "Create", "CongNhanController", new { @class = "btn btn-primary" })

</p>
@using (Html.BeginForm())
{
    <p>
        Find by name: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table table-bordered table-hover">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.HoTen)*@
            Họ và tên công nhân
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.NgayThangNamSinh)*@
            Ngày tháng năm sinh công nhân
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.PhongBan)*@
            Phòng ban làm việc
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.ChucVu)*@
            Chức vụ
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.QueQuan)*@
            Quê quán
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LuongHopDong)*@
            Lương hợp đồng
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.LuongBaoHiem)*@
            Lương bảo hiểm
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.GioiTinh)*@
            Giới tính
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.TaiKhoan)*@
            Tài khoản
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.MatKhau)*@
            Mật khẩu
        </th>
        <!--<th>-->
        @*@Html.DisplayNameFor(model => model.LaAdmin)*@
        <!--Là admin
        </th>-->
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayThangNamSinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhongBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QueQuan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuongHopDong)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LuongBaoHiem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioiTinh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaiKhoan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            @*<td>
                    @Html.DisplayFor(modelItem => item.LaAdmin)
                </td>*@


            <td>
                <a href="~/CongNhan/Edit/@item.MaCongNhan"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="~/CongNhan/Details/@item.MaCongNhan"> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                <a href="~/CongNhan/Delete/@item.MaCongNhan"> <i class="fa fa-trash-o" aria-hidden="true"></i></a>

                @*@Html.ActionLink("Edit", "Edit", new { id=item.MaCongNhan }) |
                    @Html.ActionLink("Details", "Details", new { id=item.MaCongNhan }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.MaCongNhan })*@
            </td>
        </tr>
    }

</table>
Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
    new { page }))