@model IEnumerable<Server.Models.CongNhan>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayThangNamSinh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhongBan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChucVu)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QueQuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuongHopDong)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuongBaoHiem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GioiTinh)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.HoTen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayThangNamSinh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhongBan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChucVu)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.QueQuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuongHopDong)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuongBaoHiem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GioiTinh)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaCongNhan }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaCongNhan }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaCongNhan })
        </td>
    </tr>
}

</table>
